.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  height: 100vh;
  box-sizing: border-box;
}

mat-card {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 900px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-content p {
  width: 100%;
  text-align: left;
  max-width: 192px;
}
.confirmation-message {
  color: red;
}
@media (max-width: 600px) {
  .container {
    height: auto;
    padding: 16px;
  }

  mat-card {
    width: 100%;
    padding: 16px;
  }

  .actions {
    flex-direction: column;
    align-items: stretch;
  }

  .actions button {
    margin-bottom: 8px;
  }
}
