<div class="container">
  <h1>
    <b>
      Wir freuen uns, dass wir in der großen Brockhaus-Familie zusammen sind und
      zusammen Mittagessen können, um gemeinsam unvergessliche Momente zu
      verbringen. Hier sind einige Hinweise zu unserer Familienkultur :</b
    >
  </h1>
  <ul>
    <li>
      Bitte geben Sie Ihre Lieblingsmahlzeit jeden Tag bis 11:00 Uhr an. Leider
      werden Bestellungen nach 11:00 Uhr nicht akzeptiert.
    </li>
    <li>
      Unsere Familie basiert auf einer Vertrauenskultur, also bezahlen Sie bitte
      Ihre Mahlzeit.
    </li>

    <li>
      Bei Problemen mit der Bestellung wenden Sie sich bitte an diese
      E-Mail-Adresse:
      <a href="mailto:Lunch.example&#64;brockhaus.com"
        >Lunch.example&#64;brockhaus.com</a
      >
    </li>
  </ul>
  <div class="action">
    <button mat-raised-button routerLink="/order" class="button">
      <mat-icon>restaurant_menu</mat-icon>Ich bin Besteller
    </button>
    <button mat-raised-button routerLink="/login" class="button">
      <mat-icon>shopping_cart</mat-icon>Ich bin Einkäufer
    </button>
  </div>
</div>
