/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; background-color: #66b2b2; font-family: Roboto, "Helvetica Neue", sans-serif; }
.button {
    margin: 20px;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
  }